    <div id="formulario" class="hide">


      		<div class="container" id="form">
      			<div class="row">
      				<div class="col s12">
      					<div class="row">
      						<div class="input-field col s12">
      							<input id="last_name" type="text" class="validate">
      							<label for="last_name">Nombre</label>
      						</div>
      					</div>
      					<div class="row" ng-repeat="coordenada in coordenadas">
      						<div class="input-field col s6">
      							<input id="last_name" type="text" class="validate">
      							<label for="last_name">coordenada.lat</label>
      						</div>
      						<div class="input-field col s6">
      							<input id="last_name" type="text" class="validate">
      							<label for="last_name">Longitud</label>
      						</div>
      					</div>
      					<div class="row">
      						<div class="input-field col s12">
      							<input type="date" class="datepicker" value="">
      							<label for="last_name">Fecha</label>
      						</div>
      					</div>
      					<div class="input-field col s12">
      						<label for="last_name">Tome algunas fotos</label>
      						<br>
      						<br>

      						<div class="">
      							<div class="input-field col s2">
      								<a class="btn-floating waves-effect waves-light purple"><i class="material-icons">add</i></a>
      							</div>
      							<div class="input-field col s10">
      								<input id="last_name" type="text" class="validate">
      								<label for="last_name">Nota foto 1</label>
      							</div>
      						</div>

      						<div class="">
      							<div class="input-field col s2">
      								<a class="btn-floating waves-effect waves-light purple"><i class="material-icons">add</i></a>
      							</div>
      							<div class="input-field col s10">
      								<input id="last_name" type="text" class="validate">
      								<label for="last_name">Nota foto 2</label>
      							</div>
      						</div>

      						<div class="">
      							<div class="input-field col s2">
      								<a class="btn-floating waves-effect waves-light purple"><i class="material-icons">add</i></a>
      							</div>
      							<div class="input-field col s10">
      								<input id="last_name" type="text" class="validate">
      								<label for="last_name">Nota foto 3</label>
      							</div>
      						</div>

      						<div class="">
      							<div class="input-field col s2">
      								<a class="btn-floating waves-effect waves-light purple"><i class="material-icons">add</i></a>
      							</div>
      							<div class="input-field col s10">
      								<input id="last_name" type="text" class="validate">
      								<label for="last_name">Nota foto 4</label>
      							</div>
      						</div>

      						<div class="row">
      							<div class="input-field col s12">
      								<textarea id="textarea1" class="materialize-textarea"></textarea>
      								<label for="textarea1">Nota de investigacion</label>
      							</div>
      						</div>






      						<div class="col s12">
      							<div class="col s2">
      								<p>
      									<input type="checkbox" id="test1" />
      									<label for="test1">Oro</label>
      								</p>
      							</div>

      						</div>
      						<div class="col s12">
      							<div class="col s2">
      								<p>
      									<input type="checkbox" id="test1" />
      									<label for="test1">Oro</label>
      								</p>
      							</div>

      						</div>
      						<div class="col s12">
      							<div class="col s2">
      								<p>
      									<input type="checkbox" id="test1" />
      									<label for="test1">Oro</label>
      								</p>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>

    </div>