<ion-view class="map-view">
	<header >
	<div class="bar bar-header ">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">Header Buttons</div>

	<header>
</div>
	<ion-content data-tap-disabled="true">

		<div id="map-container">
			<!-- Este div se va a esconder y va a dar paso al div que contiene el formulario -->
			<input type="text" id="input-aux" class="hide">
			<div id="panel" style="display:none;">
				<div id="color-palette"></div>
				<div>
					<button id="delete-button">Delete Selected Shape</button>
				</div>
			</div>
			<div id="map"></div>
		</div>

		<div class="container form-container hide" id="form" >

				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Nombre</label>
						</div>
					</div>
					<div class="row" ng-repeat="coord in coords">
						<div class="input-field col s6">
							<input id="latitude" type="text" ng-model="coord.lat" class="validate">
							<label for="latitude" class="active">Latitude</label>
						</div>
						<div class="input-field col s6">
							<input id="longitude" type="text" ng-model="coord.long" class="validate">
							<label for="longitude" class="active">Longitud</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="date" class="datepicker"></input>
						</div>
					</div>
					<div class="input-field col s12">
						<label for="last_name">Tome algunas fotos</label>
						<br>
						<br>

						<div class="">
							<div class="input-field col s2">
								<a class="btn-floating waves-effect waves-light purple" ng-click="takePicture()">
									<i class="material-icons">add</i>
								</a>
							</div>
							<div class="input-field col s10">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Nota foto 1</label>
							</div>
						</div>

						<div class="">
							<div class="input-field col s2">
								<a class="btn-floating waves-effect waves-light purple" ng-click="takePicture()">
									<i class="material-icons">add</i>
								</a>
							</div>
							<div class="input-field col s10">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Nota foto 2</label>
							</div>
						</div>

						<div class="">
							<div class="input-field col s2">
								<a class="btn-floating waves-effect waves-light purple" ng-click="takePicture()">
									<i class="material-icons">add</i>
								</a>
							</div>
							<div class="input-field col s10">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Nota foto 3</label>
							</div>
						</div>

						<div class="">
							<div class="input-field col s2">
								<a class="btn-floating waves-effect waves-light purple" ng-click="takePicture()">
									<i class="material-icons">add</i>
								</a>
							</div>
							<div class="input-field col s10">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Nota foto 4</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Nota de investigacion</label>
							</div>
						</div>
					</div>
				</div>

		</div>




		  <!-- Modal Structure -->
		  <div id="modal1" class="modal bottom-sheet">
		    <div class="modal-content">
		      <h4>Modal Header</h4>
		      <p>A bunch of text</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		    </div>
		  </div>


</ion-content>
<div class="bar bar-footer">
  <button class="button button-clear">Left</button>
  <div class="title">Title</div>
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>
</div>
</ion-view>
