.hide{
	display: none;
}

, html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#map{
width: 100%;
/*height: calc(100vh - 33px);*/
height: 100vh ;
}


#color-palette {
	clear: both;
}

.color-button {
	width: 14px;
	height: 14px;
	font-size: 0;
	margin: 2px;
	float: left;
	cursor: pointer;
}

#delete-button {
	margin-top: 5px;
}

.form-container {
	overflow-y: scroll;
  max-height: 100vh;
}

 .floating-button{
	margin-left: 20%;
	position: absolute;
	top: 90%;
	z-index: 2;
}


/*
====================
	IONIC OVERWRITE
====================
*/

.modal.demo {
	position: absolute;
	min-height: 37%;
}

.modal-close {
	margin-left: 98%;
}

.lean-overlay {
	top: -68vh;
}

.header{
	color: #4a148c;
font-weight: 300;
}

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #6a1b9a; }


	input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4a148c;
    box-shadow: 0 1px 0 0 #4a148c; }
