#map, html, body {
	padding: 0;
	margin: 0;
	width: 960px;
	height: 700px;
}

#panel {
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	float: right;
	margin: 10px;
}

#color-palette {
	clear: both;
}

.color-button {
	width: 14px;
	height: 14px;
	font-size: 0;
	margin: 2px;
	float: left;
	cursor: pointer;
}

#delete-button {
	margin-top: 5px;
}

#hide{
	displa: none;
}

.form-container {
	overflow-y: scroll;
  max-height: 640px;
}