.hide{
	display: none;
}

, html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#map{
width: 100%;
height: calc(100vh - 43px);
}

#panel {
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	float: right;
	margin: 10px;
}

#color-palette {
	clear: both;
}

.color-button {
	width: 14px;
	height: 14px;
	font-size: 0;
	margin: 2px;
	float: left;
	cursor: pointer;
}

#delete-button {
	margin-top: 5px;
}

.form-container {
	overflow-y: scroll;
  max-height: 640px;
}

.floating-button {
	margin-left: 36%;
	position: absolute;
	top: 90%;
	z-index: 2;
}


/*
====================
	IONIC OVERWRITE
====================
*/

.modal.demo {
	position: absolute;
	min-height: 37%;
}

.modal-close {
	margin-left: 98%;	
}

.lean-overlay {
	top: -473px;
}
